@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  @apply bg-gray-950 text-white min-h-screen selection:bg-purple-500 selection:text-white;
  background: radial-gradient(ellipse at top, #1e293b, #030712);
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
}